
#name {
	margin-top: 22px;
	margin-bottom: 9px;
}

.title {
	margin-top: 25px;
	margin-bottom: 10px;
}

.hr {
 	margin-top: 0;
}

.blockStyle {
	float: left;
	width: 32%;
 	margin-bottom: 60px;
 	height: 232px;
 	min-width: 240px;
}

.center {
	margin-left: 2%;
	margin-right: 2%;  
}
.wrap {  
    
    min-height: 100%;

}
.footer {
    background-color: #ccc;
    height: 100px;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    margin-top: 10px;
}
.lastDiv{
	margin-bottom: 100px;
}

.post {
  margin-bottom: 100px;  
}
.material-icons {
    padding: 10px;
}
.point {
    float: left;
    width: 32%;
    margin-bottom: 60px;   
    min-width: 240px;
}

.video {
    width: 32%;
    margin-bottom: 60px; 
    margin-left: 30px;  
    min-width: 240px;   
}

.layout {
    padding-top: 0px; 
    margin-bottom: 30px;
    margin-left: 270px;
    margin-top: -434px; 

}  
     
.map {
    padding-top: 120px; 
    margin-bottom: 10px;
    margin-top: 70px;
}
